@mixin flex($flex-direction,$justify-content,$align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin medidas($gap,$width,$height){
    gap:$gap;
    width: $width;
    height: $height;
}